.wrapper {
    display: flex;
    max-width: 522px;
    margin: 0 auto;
    margin-bottom: 120px;
}

.button {
    margin-left: 12px;
}

.circles {
    display: flex;
    justify-content: center;
 
}

.circle {
    margin-right: 16px;
}